.breadcrumbs {
	padding-bottom: 33px;
	padding-top: 40px;
	@media (max-width: 1640px) {
		@include adaptiv(padding-bottom, 33, 20, 1600, 320);
		@include adaptiv(padding-top, 40, 20, 1600, 320);
	}

	// &.white {
	// 	a {
	// 		color: #fff;
	// 	}
	// }

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		// & > span {
		// 	display: inline-flex;
		// }
	}

	span {
		font-size: 12px;
		line-height: 2;
		text-transform: uppercase;
		color: #9a9a9a;
		@media (max-width: 576px) {
			font-size: 11px;
		}
		@media (max-width: 370px) {
			font-size: 10px;
		}
		&.current-item {
			color: #000000;
		}
	}

	// .breadcrumbs__break
	&__break {
		width: 22px;
		height: 1px;
		margin: 0 30px;
		background: #9a9a9a;
		@media (max-width: 576px) {
			margin: 0 20px;
		}
		@media (max-width: 420px) {
			margin: 0 15px;
			width: 15px;
		}
	}
}
