.burger {
	display: flex;
	align-items: center;
	background-color: transparent;
	&.active {
		.burger__round {
			top: calc(50% - 3px);
			left: calc(50% - 3px);
			&:nth-child(5) {
				top: calc(50% - 8px);
				left: calc(50% - 7px);
				width: 14px;
				height: 14px;
			}
		}

		&:hover {
			.burger__round {
				&:nth-child(5) {
					transform: scale(1.1);
				}
			}
		}
	}
	&:not(.active) {
		&:hover {
			.burger__round {
				transform: scale(1.15);
				&:nth-child(1) {
					top: -1px;
					left: -1px;
				}
				&:nth-child(2) {
					top: -1px;
				}
				&:nth-child(3) {
					top: -1px;
					right: -1px;
				}
				&:nth-child(4) {
					top: 9px;
					left: -1px;
				}
				&:nth-child(6) {
					top: 9px;
					right: -1px;
				}
				&:nth-child(7) {
					top: 19px;
					left: -1px;
				}
				&:nth-child(8) {
					top: 19px;
					left: 9px;
				}
				&:nth-child(9) {
					top: 19px;
					right: -1px;
				}
			}
		}
	}

	// .burger__title
	&__title {
		margin-right: 12px;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		color: #01873d;
		text-align: left;
		position: relative;
		overflow: hidden;
	}

	// .burger__icon
	&__icon {
		flex: 0 0 23px;
		width: 23px;
		height: 23px;
		position: relative;
	}

	&__round {
		position: absolute;
		width: 5px;
		height: 5px;
		border-radius: 20px;
		background: #01873d;
		transition: 0.3s linear;
		&:nth-child(1) {
			top: 0px;
			left: 0px;
		}
		&:nth-child(2) {
			top: 0px;
			left: 9px;
		}
		&:nth-child(3) {
			top: 0px;
			right: 0px;
		}
		&:nth-child(4) {
			top: 9px;
			left: 0px;
		}
		&:nth-child(5) {
			top: 9px;
			left: 9px;
		}
		&:nth-child(6) {
			top: 9px;
			right: 0px;
		}
		&:nth-child(7) {
			top: 18px;
			left: 0px;
		}
		&:nth-child(8) {
			top: 18px;
			left: 9px;
		}
		&:nth-child(9) {
			top: 18px;
			right: 0px;
		}
	}
}
