.container {
	max-width: 1800px;
	width: 100%;
	padding: 0 60px;
	margin: 0 auto;
	@media (max-width: 1300px) {
		padding-left: 40px;
		padding-right: 40px;
	}
	@media (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
}
.title {
	font-family: "Bodoni";
	font-weight: 700;
	font-size: 50px;
	line-height: 1;
	color: #000000;
	@media (max-width: 1440px) {
		@include adaptiv(font-size, 50, 28, 1440, 320);
	}
}

.help-img {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	display: block;
}

.flex-help {
	overflow: hidden !important;
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px 15px;
}

div.wpcf7-response-output,
div.wpcf7-validation-errors,
div.wpcf7 .ajax-loader {
	display: none !important;
}

span.wpcf7-not-valid-tip {
	display: none;
}

.alertify-notifier {
	z-index: 99997;
}

.wpcf7-not-valid {
	border-color: red !important;
}

input[type="submit"] {
	cursor: pointer;
}

[data-src="#modal-call"] {
	cursor: pointer;
}
[data-src="#modal"] {
	cursor: pointer;
}

.social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__decor {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		svg {
			stroke-dasharray: 200;
			stroke-dashoffset: 200;
			transition: 0.7s linear;
		}
	}

	&__icon {
		svg {
			max-width: 25px;
			max-height: 25px;
		}
		img {
			max-width: 25px;
			max-height: 25px;
		}
	}
}

// Анимации

@keyframes gallery {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
