.company__history-slider-controls {
  position: relative;
  padding-top: 1.25rem;
  padding-bottom: 2.625rem;
  @media screen and (min-width: 768px) {
    padding-top: 1.375rem;
    padding-bottom: 4.5rem;
  }
}

.owl-dots {
  display: none;
}

.company__history-slider-controls-line {
  height: 1.25rem;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 1.625rem;
  border-top: 0.0625rem dashed #cfd3d5;
  @media screen and (min-width: 768px) {
    top: 1.875rem;
  }
}

.company__history-slider-controls-dots {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0.875rem;
  @media screen and (min-width: 1392px) {
    margin-left: 0;
  }
}

.company__history-slider-controls-dragger {
  position: absolute;
  left: 0;
  top: 0;
}

.company__history-slider-controls-dragger-before {
  position: absolute;
  top: -0.875rem;
  left: -0.875rem;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
  background: #007b37;
  border-radius: 50%;
  // -webkit-box-shadow: 0 0.125rem 0.3125rem 0 rgb(0 0 0 / 15%);
  // box-shadow: 0 0.125rem 0.3125rem 0 rgb(0 0 0 / 15%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  @media screen and (min-width: 768px) {
    top: -1.25rem;
    left: -1.25rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}

.company__history-slider-controls-dragger-dot {
  width: 0.75rem;
  height: 0.75rem;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
  @media screen and (min-width: 768px) {
    width: 1rem;
    height: 1rem;
  }
}

.company__history-slider-controls-dot {
  position: relative;
  width: 0.375rem;
  height: 0.375rem;
  background: #cfd3d5;
  border-radius: 50%;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.company__history-slider-controls-dot--with-year {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 4rem;
  @media screen and (min-width: 768px) {
    width: 1rem;
    height: 1rem;
  }
}

.company__history-slider-controls-dot:not(:last-of-type) {
  margin-right: 3rem;
}

.company__history-slider-controls-dot--with-year:not(:first-of-type) {
  margin-left: 1rem;
}

.company__history-slider-controls-dot-year {
  font-size: 24px;
  font-weight: 700;
  color: #dbdbdb;
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    top: 3.3125rem;
  }
}

.company__history {
  margin-bottom: 220px;
  @media (max-width: 1440px) {
    @include adaptiv(margin-bottom, 200, 50, 1919, 320);
  }
}

.company__container {
  margin-bottom: 100px;
  @media (max-width: 1440px) {
    @include adaptiv(margin-bottom, 100, 10, 1440, 320);
  }
}

.company__title {
  margin-bottom: 105px;
  @media (max-width: 1440px) {
    @include adaptiv(margin-bottom, 105, 35, 1440, 320);
  }
}

.company__flex {
  display: flex;
  overflow: hidden;
  @media (max-width: 850px) {
    flex-direction: column;
  }
}
.company__history-figure {
  margin-bottom: 36px;
  width: 204px;
  height: 204px;
  border-radius: 100%;
  border: 1px solid #c4c4c4;
  position: relative;
  @media (max-width: 1200px) {
    width: 150px;
    height: 150px;
  }
  @media (max-width: 850px) {
    width: 204px;
    height: 204px;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover; object-position: center;";
    border-radius: 100%;
    overflow: hidden;
  }
}
.product-slider__controls-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company__history-year.js-company-history-year {
  margin: 0 10px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #000000;
}

.js-history-slider-arrow-prev,
.js-history-slider-arrow-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: 0.3s;
  width: 30px;
  height: 30px;
  svg {
    width: 20px;
    height: 12px;
    transition: 0.3s linear;
  }
}

.js-history-slider-arrow-prev {
  &:hover {
    svg {
      transform: translateX(-5px);
    }
  }
}

.js-history-slider-arrow-next {
  &:hover {
    svg {
      transform: translateX(5px);
    }
  }
}

.row {
  display: flex;

  // flex-wrap: wrap;
}
.company__left {
  margin-right: 100px;
  flex: 0 0 204px;
  width: 100%;
  max-width: 204px;
  position: relative;
  z-index: 2;
  @media (max-width: 1350px) {
    margin-right: 60px;
  }
  @media (max-width: 1200px) {
    flex: 0 0 150px;
    max-width: 150px;
  }
  @media (max-width: 850px) {
    max-width: 204px;
    flex: 0 0 auto;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.company__history-slide {
  padding: 0 5px;
  @media (min-width: 993px) {
    column-width: 48%;
    column-count: 2;
    column-gap: 4%;
  }
  ol li {
    display: inline-block;
    width: 100%;
  }
}

.company__right {
  flex: 1 1 auto;
  width: calc(100% - 304px);
  @media (max-width: 850px) {
    width: 100%;
    flex: 0 0 auto;
  }
}

.col-xl-3 {
  flex: 1 0 auto;
}

// .owl-carousel .owl-stage-outer {
//   overflow: visible;
// }

// .company__history-slider:before {
//   position: absolute;
//   content: "";
//   top: 0;
//   bottom: 0;
//   right: 100%;
//   background: #fff;
//   left: -100vw;
//   z-index: 1;
// }

.owl-carousel .owl-stage {
  display: flex;
}
