.consalt {
	margin-bottom: 220px;
	@media (max-width: 1440px) {
		@include adaptiv(margin-bottom, 200, 50, 1440, 320);
	}
	// .consalt__container
	&__container {
	}
	// .consalt__flex
	&__flex {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@media (max-width: 1000px) {
			flex-direction: column;
		}
	}
	// .consalt__left
	&__left {
		margin-right: 60px;
		flex: 0 0 39.6%;
		@media (max-width: 1440px) {
			flex: 0 0 45%;
		}
		@media (max-width: 1200px) {
			flex: 0 0 50%;
		}
		@media (max-width: 1000px) {
			flex: 0 0 auto;
			order: 1;
			margin-right: 0;
			margin-bottom: 70px;
			max-width: 665px;
		}
		@media (max-width: 768px) {
			margin-bottom: 50px;
		}
		@media (max-width: 500px) {
			margin-bottom: 40px;
		}
	}
	// .consalt__title
	&__title {
		margin-bottom: 40px;
		@media (max-width: 421px) {
			margin-bottom: 30px;
		}
	}
	// .consalt__subtitle
	&__subtitle {
		margin-bottom: 69px;
		@media (max-width: 1440px) {
			margin-bottom: 40px;
		}
		@media (max-width: 421px) {
			margin-bottom: 20px;
		}
	}
	// .consalt__form
	&__form {
		margin-bottom: 32px;
		@media (max-width: 500px) {
			margin-bottom: 20px;
		}
		@media (max-width: 420px) {
			margin-bottom: 10px;
		}
		.wpcf7-form {
			display: flex;
			flex-direction: column;
		}
		.wpcf7-form-control-wrap {
			margin-bottom: 20px;
			input {
				width: 100%;
				height: 70px;
				padding: 20px 30px;
				font-size: 20px;
				color: #000000;
				background: #ffffff;
				border: 1px solid #dbdbdb;
				@media (max-width: 768px) {
					height: 60px;
					font-size: 18px;
				}
				@media (max-width: 500px) {
					height: 50px;
					padding: 15px 20px;
				}
			}
			@media (max-width: 420px) {
				margin-bottom: 15px;
			}
		}

		.wpcf7-submit {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 15px;
			min-height: 80px;
			background: #03a34b;
			border-radius: 50px;
			font-size: 20px;
			line-height: lh(29, 20);
			text-align: center;
			color: #ffffff;
			transition: background-color 0.3s;
			@media (max-width: 768px) {
				min-height: 60px;
			}
			@media (max-width: 500px) {
				min-height: 55px;
			}
			&:hover {
				background: #01873d;
			}
		}
	}
	// .consalt__privacy
	&__privacy {
		font-size: 16px;
		line-height: 1.25;
		color: #9a9a9a;
		@media (max-width: 576px) {
			font-size: 14px;
		}
		@media (max-width: 420px) {
			font-size: 12px;
		}
		span {
			position: relative;
			cursor: pointer;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: #9a9a9a;
				transition: 0.3s;
			}
			&:hover {
				&::before {
					opacity: 0;
				}
			}
		}
	}
	// .consalt__right
	&__right {
		flex: 1 0 auto;
		margin-right: calc((100vw - 100%) / -2);
		max-width: 993px;
		border-radius: 400px 0px 0px 400px;
		overflow: hidden;
		@media (max-width: 1000px) {
			flex: 1 0 auto;
			order: 2;
			width: calc(100% + 40px);
			margin-right: -40px;
		}
		@media (max-width: 768px) {
			width: calc(100% + 20px);
			margin-right: -20px;
		}
	}

	// .consalt__image
	&__image {
		padding-bottom: 80.5%;
		background-repeat: no-repeat;
		background-position-x: 50%;
		background-position-y: center;
		transition: 0.1s linear;
		@media (max-width: 1440px) {
			padding-bottom: 100%;
		}
		@media (max-width: 1200px) {
			background-size: cover;
			background-position-x: 50%;
			background-position-y: center;
			padding-bottom: 0;
			height: 600px;
		}
		@media (max-width: 768px) {
			height: 500px;
		}
		@media (max-width: 576px) {
			height: 400px;
		}
		@media (max-width: 420px) {
			height: 350px;
		}
	}
}

.wpcf7 {
}

.wpcf7-form-control {
}
