.services {
	margin-bottom: 200px;
	@media (max-width: 1440px) {
		@include adaptiv(margin-bottom, 200, 50, 1440, 320);
	}
	// .services__container
	&__container {
	}
	// .services__title
	&__title {
		margin-bottom: 97px;
		@media (max-width: 1440px) {
			@include adaptiv(margin-bottom, 97, 35, 1440, 320);
		}
	}
	// .services__grid
	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 80px;
		grid-row-gap: 80px;
		@media (max-width: 1340px) {
			grid-column-gap: 45px;
			grid-row-gap: 45px;
		}
		@media (max-width: 1300px) {
			grid-column-gap: 25px;
			grid-row-gap: 25px;
		}
		@media (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 40px;
		}
		@media (max-width: 720px) {
			grid-template-columns: 1fr;
			grid-row-gap: 40px;
		}
		@media (max-width: 370px) {
			grid-row-gap: 30px;
		}
	}
	// .services__column
	&__column {
		@media (max-width: 1200px) {
			&:nth-child(2) {
				order: 2;
				grid-column: span 2;
			}
		}
		@media (max-width: 720px) {
			&:nth-child(2) {
				grid-column: span 1;
			}
		}
	}
	// .services__item
	&__item {
		height: 100%;
	}
	// .services__logo-item
	&__logo-item {
		height: 100%;
		position: relative;
		@media (max-width: 1200px) {
			margin-left: auto;
			margin-right: auto;
			margin-top: 40px;
			height: 250px;
			width: 250px;
		}
	}
}

.item-services {
	// .item-services__el
	&__el {
		display: grid;
		grid-template-columns: 63px 1fr;
		grid-column-gap: 24px;
		&:not(:last-child) {
			margin-bottom: 82px;
			@media (max-width: 1340px) {
				margin-bottom: 40px;
			}
			@media (max-width: 370px) {
				margin-bottom: 30px;
			}
		}
	}
	// .item-services__image
	&__image {
		grid-row: span 2;
		img {
			max-width: 100%;
			max-height: 63px;
		}
	}
	// .item-services__title
	&__title {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.42;
		color: #000000;
		@media (max-width: 1200px) {
			margin-bottom: 10px;
		}
		@media (max-width: 576px) {
			@include adaptiv(font-size, 24, 20, 576, 320);
		}
	}
	// .item-services__subtitle
	&__subtitle {
		font-weight: 300;
		font-size: 16px;
		line-height: 1.6;
		color: #000000;
		@media (max-width: 370px) {
			font-size: 15px;
		}
	}
}

.round-serv {
	position: absolute;
	top: 0;
	left: 50%;
	width: 83%;
	padding-bottom: 83%;
	transform: translateX(-50%);
	// .round-serv__btn
	&__btn {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		border-radius: 100%;
		overflow: hidden;
		z-index: 20;
		padding: 30px;
	}
	// .round-serv__el
	&__el {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(3, 163, 75, 0.3);
		border-radius: 100%;
	}
	// .round-serv__el--1
	&__el--1 {
		animation: firstCircle 10s ease infinite;
	}
	// .round-serv__el--2
	&__el--2 {
		animation: secondCircle 10s ease infinite;
	}
	// .round-serv__el--3
	&__el--3 {
		animation: thirdCircle 10s ease infinite;
	}
}

@keyframes firstCircle {
	0% {
		transform: translateX(0) translateY(0);
	}
	35% {
		transform: translateX(2%) translateY(-14%);
	}
	65% {
		transform: translateX(5%) translateY(14%);
	}
	to {
		transform: translateX(0) translateY(0);
	}
}

@keyframes secondCircle {
	0% {
		transform: translateX(0) translateY(0);
	}
	40% {
		transform: translateX(-9%) translateY(-1%);
	}
	75% {
		transform: translateX(11%) translateY(-14%);
	}
	to {
		transform: translateX(0) translateY(0);
	}
}

@keyframes thirdCircle {
	0% {
		transform: translateX(0) translateY(0);
	}
	30% {
		transform: translateX(5%) translateY(11%);
	}
	70% {
		transform: translateX(-13%) translateY(-5%);
	}
	to {
		transform: translateX(0) translateY(0);
	}
}
