@import "_fonts.scss";
@import "_variables.scss";
@import "_reset.scss";
@import "_svg-initial.scss";
@import "_overall.scss";
@import "_type-styles.scss";
// @import "_burger.scss";
// @import "_breadcrumbs.scss";

// modals
@import "_modal.scss";
@import "_modal-polit.scss";

//components
@import "header.scss";
@import "footer.scss";
@import "hero.scss";
@import "waves.scss";
@import "categories.scss";
@import "services.scss";
@import "partners.scss";
@import "consult.scss";
@import "about.scss";

.irs-handle.single {
	top: 2px;
	width: 56px;
	height: 56px;
	background-color: #01873d;
	border-radius: 100%;
	transition: 0.3s;
}

.irs--flat .irs-handle > i:first-child {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 16px;
	height: 16px;
	margin: 0;
	border-radius: 100%;
	background: #ffffff !important;
}

.irs--flat .irs-line {
	top: 25px;
	height: 16px;
	background-color: transparent;
	border-radius: 0;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 0;
		border-bottom: 1px dashed #dbdbdb;
	}
}

.irs--flat .irs-bar {
	top: 30px;
	height: 0;
	background-color: transparent;
}

.irs-min,
.irs-max,
.irs-single,
.irs-grid-pol.small {
	display: none;
}

.irs--flat .irs-grid-text {
	bottom: -22px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.4;
	color: #dbdbdb;
}

.irs-grid-pol {
	position: absolute;
	top: -15px;
	left: 0;
	width: 16px;
	height: 16px;
	background: #dbdbdb;
	border-radius: 100%;
	pointer-events: none;
}
